{% extends 'base.html.twig' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	<h1>{{ title }}</h1>
    <h2>{{ schoolYear.name }} (id {{ schoolYear.id }})</h2>
    <p> Description :  {{ schoolYear.description }} <br>
    Date de début : {{ schoolYear.startDate|date("y/m/d") }}<br>
    Date de fin : {{ schoolYear.endDate|date("y/m/d") }}  </p>

    {% for schoolYear in schoolYears %}
    <h2> {{ schoolYear.name }} {{ schoolYear.id }} </h2>
    <p> Description :  {{ schoolYear.description }} <br>
    Date de début : {{ schoolYear.startDate|date("d/m/y") }}<br>
    Date de fin : {{ schoolYear.endDate|date("d/m/y") }} 
    </p>
    {% endfor %}
{% endblock %}
